---
- name: Ensure ansible_facts used by role
  setup:
    gather_subset:
      - min
      - hardware
  when: not ansible_facts.keys() | list |
    intersect(__postgresql_required_facts) == __postgresql_required_facts

- name: Set platform/version specific variables
  include_vars: "{{ __vars_file }}"
  loop:
    - "{{ ansible_facts['os_family'] }}.yml"
    - "{{ ansible_facts['distribution'] }}.yml"
    - >-
      {{ ansible_facts['distribution'] ~ '_' ~
      ansible_facts['distribution_major_version'] }}.yml
    - >-
      {{ ansible_facts['distribution'] ~ '_' ~
      ansible_facts['distribution_version'] }}.yml
  vars:
    __vars_file: "{{ role_path }}/vars/{{ item }}"
  when: __vars_file is file

- name: Check postgresql.conf
  stat:
    path: /var/lib/pgsql/data/postgresql.conf
  register: __postgresql_conf

- name: Check TLS crt file
  stat:
    path: "{{ postgresql_cert_name }}.crt"
  register: __postgresql_cert

- name: Check TLS private key file
  stat:
    path: "{{ postgresql_cert_name }}.key"
  register: __postgresql_key
