#------------------------------------------------------------------------------
# PostgreSQL configuration file managed by ansible
# CUSTOMIZED (ANSIBLE) OPTIONS
#------------------------------------------------------------------------------

{% for item in postgresql_server_conf %}
{{ item }} = {{ postgresql_server_conf[item] }}
{% endfor %}
